In [19]:
import pandas as pd

# Tạo một biến DataFrame để lưu toàn bộ dữ liệu
all_data = pd.DataFrame()

# Tên các cột chung
common_columns = ['YEAR', 'DOY']

# Đọc dữ liệu từ các tệp CSV và loại bỏ các dòng đầu không cần thiết
df1 = pd.read_csv('data/nasa_power_data_part1.csv', skiprows=25)
df2 = pd.read_csv('data/nasa_power_data_part2.csv', skiprows=24)
df3 = pd.read_csv('data/nasa_power_data_part3.csv', skiprows=25)
df4 = pd.read_csv('data/nasa_power_data_part4.csv', skiprows=24)
df5 = pd.read_csv('data/nasa_power_data_part5.csv', skiprows=25)
df6 = pd.read_csv('data/nasa_power_data_part6.csv', skiprows=24)
df7 = pd.read_csv('data/nasa_power_data_part7.csv', skiprows=25)
df8 = pd.read_csv('data/nasa_power_data_part8.csv', skiprows=24)

# Ghép từng cặp DataFrame theo các cột chung
merged_df1 = pd.merge(df1, df2, on=common_columns)
merged_df2 = pd.merge(df3, df4, on=common_columns)
merged_df3 = pd.merge(df5, df6, on=common_columns)
merged_df4 = pd.merge(df7, df8, on=common_columns)

# Nối tất cả các DataFrame đã ghép lại vào một DataFrame duy nhất
all_data = pd.concat([merged_df1, merged_df2, merged_df3, merged_df4])

# In toàn bộ dữ liệu trên màn hình
all_data

,YEAR,DOY,ALLSKY_SFC_SW_DWN,CLRSKY_SFC_SW_DWN,ALLSKY_SFC_SW_DNI,ALLSKY_SFC_SW_DIFF,TOA_SW_DWN,ALLSKY_SFC_PAR_TOT,CLRSKY_SFC_PAR_TOT,ALLSKY_SFC_UVB,...,WS2M_MAX,WS2M_MIN,WS2M_RANGE,WD2M,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WD10M,GWETTOP
0,2000,1,10.02,12.74,-999.0,-999.0,24.90,58.1,-999.0,-999.0,...,1.35,0.58,0.77,103.75,1.54,2.78,0.81,1.97,103.88,0.7
1,2000,2,11.61,13.31,-999.0,-999.0,24.94,67.2,-999.0,-999.0,...,1.92,0.41,1.52,94.69,1.92,2.53,0.66,1.87,94.81,0.7
2,2000,3,15.35,16.13,-999.0,-999.0,25.00,86.6,-999.0,-999.0,...,2.29,0.17,2.12,178.38,2.04,3.21,0.22,3.00,178.50,0.7
3,2000,4,7.72,9.92,-999.0,-999.0,25.06,44.8,-999.0,-999.0,...,3.70,0.77,2.92,161.62,3.16,5.21,1.44,3.78,161.12,0.7
4,2000,5,11.03,11.76,-999.0,-999.0,25.12,63.3,-999.0,-999.0,...,3.45,0.80,2.64,150.00,2.80,5.08,0.99,4.09,150.38,0.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8923,2024,158,-999.00,-999.00,-999.0,-999.0,-999.00,-999.0,-999.0,-999.0,...,3.10,0.53,2.57,115.31,2.77,4.43,1.02,3.41,115.25,-999.0
8924,2024,159,-999.00,-999.00,-999.0,-999.0,-999.00,-999.0,-999.0,-999.0,...,2.56,0.58,1.98,150.06,2.58,3.89,1.05,2.84,149.94,-999.0
8925,2024,160,-999.00,-999.00,-999.0,-999.0,-999.00,-999.0,-999.0,-999.0,...,2.89,0.63,2.26,149.69,2.78,4.16,1.22,2.95,149.94,-999.0
8926,2024,161,-999.00,-999.00,-999.0,-999.0,-999.00,-999.0,-999.0,-999.0,...,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.0
8927,2024,162,-999.00,-999.00,-999.0,-999.0,-999.00,-999.0,-999.0,-999.0,...,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.0

In [20]:
# Đặt ngưỡng phần trăm bị thiếu mà bạn quan tâm
threshold_percentage = 80

# Đếm số biến bị thiếu theo dòng
missing_by_row = all_data[all_data == -999.00].count(axis=1)

# Tổng số biến trong mỗi dòng
total_columns = all_data.shape[1]

# Tính phần trăm biến bị thiếu theo dòng
missing_percentage_by_row = (missing_by_row / total_columns) * 100

# Tìm các dòng có phần trăm biến bị thiếu lớn hơn ngưỡng
rows_with_high_missing = all_data[missing_percentage_by_row > threshold_percentage]

# In kết quả
rows_with_high_missing

,YEAR,DOY,ALLSKY_SFC_SW_DWN,CLRSKY_SFC_SW_DWN,ALLSKY_SFC_SW_DNI,ALLSKY_SFC_SW_DIFF,TOA_SW_DWN,ALLSKY_SFC_PAR_TOT,CLRSKY_SFC_PAR_TOT,ALLSKY_SFC_UVB,...,WS2M_MAX,WS2M_MIN,WS2M_RANGE,WD2M,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WD10M,GWETTOP
8925,2024,160,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
8926,2024,161,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
8927,2024,162,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
8926,2024,161,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
8927,2024,162,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
8926,2024,161,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
8927,2024,162,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
8926,2024,161,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
8927,2024,162,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0

In [21]:
# Lấy chỉ mục (index) của các hàng có phần trăm biến bị thiếu lớn hơn ngưỡng
rows_to_remove = missing_percentage_by_row[missing_percentage_by_row > threshold_percentage].index

# Xóa các hàng có dữ liệu thiếu trên 80%
all_data_cleaned_1 = all_data.drop(index=rows_to_remove)
all_data_cleaned_1

,YEAR,DOY,ALLSKY_SFC_SW_DWN,CLRSKY_SFC_SW_DWN,ALLSKY_SFC_SW_DNI,ALLSKY_SFC_SW_DIFF,TOA_SW_DWN,ALLSKY_SFC_PAR_TOT,CLRSKY_SFC_PAR_TOT,ALLSKY_SFC_UVB,...,WS2M_MAX,WS2M_MIN,WS2M_RANGE,WD2M,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WD10M,GWETTOP
0,2000,1,10.02,12.74,-999.0,-999.0,24.90,58.1,-999.0,-999.0,...,1.35,0.58,0.77,103.75,1.54,2.78,0.81,1.97,103.88,0.7
1,2000,2,11.61,13.31,-999.0,-999.0,24.94,67.2,-999.0,-999.0,...,1.92,0.41,1.52,94.69,1.92,2.53,0.66,1.87,94.81,0.7
2,2000,3,15.35,16.13,-999.0,-999.0,25.00,86.6,-999.0,-999.0,...,2.29,0.17,2.12,178.38,2.04,3.21,0.22,3.00,178.50,0.7
3,2000,4,7.72,9.92,-999.0,-999.0,25.06,44.8,-999.0,-999.0,...,3.70,0.77,2.92,161.62,3.16,5.21,1.44,3.78,161.12,0.7
4,2000,5,11.03,11.76,-999.0,-999.0,25.12,63.3,-999.0,-999.0,...,3.45,0.80,2.64,150.00,2.80,5.08,0.99,4.09,150.38,0.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8920,2024,155,20.97,-999.00,-999.0,-999.0,39.62,-999.0,-999.0,-999.0,...,1.46,0.33,1.12,218.19,1.67,2.26,0.52,1.73,219.12,-999.0
8921,2024,156,14.42,-999.00,-999.0,-999.0,39.63,-999.0,-999.0,-999.0,...,1.41,0.30,1.12,83.00,1.44,2.32,0.59,1.73,83.06,-999.0
8922,2024,157,-999.00,-999.00,-999.0,-999.0,-999.00,-999.0,-999.0,-999.0,...,3.57,0.84,2.73,69.25,3.20,5.08,1.63,3.44,69.56,-999.0
8923,2024,158,-999.00,-999.00,-999.0,-999.0,-999.00,-999.0,-999.0,-999.0,...,3.10,0.53,2.57,115.31,2.77,4.43,1.02,3.41,115.25,-999.0
8924,2024,159,-999.00,-999.00,-999.0,-999.0,-999.00,-999.0,-999.0,-999.0,...,2.56,0.58,1.98,150.06,2.58,3.89,1.05,2.84,149.94,-999.0

In [22]:
# Đếm số lượng giá trị bị thiếu (-999.00)
missing_count = (all_data_cleaned_1 == -999).sum()

# Tổng số giá trị
total_count = all_data_cleaned_1.shape[0]

# Phần trăm giá trị bị thiếu
missing_percentage = (missing_count / total_count) * 100

# Tạo DataFrame kết quả
missing_info = pd.DataFrame({'Số lượng bị thiếu': missing_count, 'Phần trăm bị thiếu (%)': missing_percentage})

# In kết quả
missing_info

                     Số lượng bị thiếu  Phần trăm bị thiếu (%)
YEAR                                 0                0.000000
DOY                                  0                0.000000
ALLSKY_SFC_SW_DWN                   12                0.033613
CLRSKY_SFC_SW_DWN                  356                0.997199
ALLSKY_SFC_SW_DNI                 1856                5.198880
ALLSKY_SFC_SW_DIFF                1856                5.198880
TOA_SW_DWN                          12                0.033613
ALLSKY_SFC_PAR_TOT                 392                1.098039
CLRSKY_SFC_PAR_TOT                1856                5.198880
ALLSKY_SFC_UVB                    1856                5.198880
ALLSKY_SFC_UVA                    1856                5.198880
ALLSKY_SFC_UV_INDEX               1948                5.456583
T2M                                  0                0.000000
T2MDEW                               0                0.000000
T2MWET                               0                0.000000
TS                                   0                0.000000
T2M_RANGE                            0                0.000000
T2M_MAX                              0                0.000000
T2M_MIN                              0                0.000000
ALLSKY_SFC_LW_DWN                   12                0.033613
QV2M                                 0                0.000000
RH2M                                 0                0.000000
PRECTOTCORR                          0                0.000000
PS                                   0                0.000000
WS2M                                 0                0.000000
WS2M_MAX                             0                0.000000
WS2M_MIN                             0                0.000000
WS2M_RANGE                           0                0.000000
WD2M                                 0                0.000000
WS10M                                0                0.000000
WS10M_MAX                            0                0.000000
WS10M_MIN                            0                0.000000
WS10M_RANGE                          0                0.000000
WD10M                                0                0.000000
GWETTOP                            392                1.098039

In [23]:
# In ra các giá trị trong bảng missing_info với điều kiện số lượng bị thiếu lớn hơn 0
missing_info[missing_info['Số lượng bị thiếu'] > 0]

                     Số lượng bị thiếu  Phần trăm bị thiếu (%)
ALLSKY_SFC_SW_DWN                   12                0.033613
CLRSKY_SFC_SW_DWN                  356                0.997199
ALLSKY_SFC_SW_DNI                 1856                5.198880
ALLSKY_SFC_SW_DIFF                1856                5.198880
TOA_SW_DWN                          12                0.033613
ALLSKY_SFC_PAR_TOT                 392                1.098039
CLRSKY_SFC_PAR_TOT                1856                5.198880
ALLSKY_SFC_UVB                    1856                5.198880
ALLSKY_SFC_UVA                    1856                5.198880
ALLSKY_SFC_UV_INDEX               1948                5.456583
ALLSKY_SFC_LW_DWN                   12                0.033613
GWETTOP                            392                1.098039

In [24]:
# Các cột cần bỏ
columns_to_remove = [ 'ALLSKY_SFC_SW_DNI', 'ALLSKY_SFC_SW_DIFF', 'CLRSKY_SFC_PAR_TOT', 'ALLSKY_SFC_UVB', 'ALLSKY_SFC_UVA', 'ALLSKY_SFC_UV_INDEX']

# Xóa các cột sau
all_data_cleaned_2 = all_data_cleaned_1.drop(columns=columns_to_remove)

# Danh sách các cột cần thay thế giá trị bị thiếu bằng giá trị trung bình
columns_to_fill = [
    'ALLSKY_SFC_SW_DWN', 'CLRSKY_SFC_SW_DWN', 'TOA_SW_DWN', 
    'ALLSKY_SFC_PAR_TOT', 'ALLSKY_SFC_LW_DWN', 'GWETTOP'
]

# Thay thế giá trị bị thiếu (được định nghĩa là -999) bằng giá trị trung bình của cột đó
for column in columns_to_fill:
    mean_value = all_data_cleaned_1[all_data_cleaned_1[column] != -999][column].mean()
    all_data_cleaned_2[column].replace(-999, mean_value, inplace=True)

# In toàn bộ dữ liệu đã xử lý
all_data_cleaned_2

,YEAR,DOY,ALLSKY_SFC_SW_DWN,CLRSKY_SFC_SW_DWN,TOA_SW_DWN,ALLSKY_SFC_PAR_TOT,T2M,T2MDEW,T2MWET,TS,...,WS2M_MAX,WS2M_MIN,WS2M_RANGE,WD2M,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WD10M,GWETTOP
0,2000,1,10.020000,12.74000,24.900000,58.100000,18.44,16.31,17.37,18.37,...,1.35,0.58,0.77,103.75,1.54,2.78,0.81,1.97,103.88,0.700000
1,2000,2,11.610000,13.31000,24.940000,67.200000,18.40,15.85,17.12,18.09,...,1.92,0.41,1.52,94.69,1.92,2.53,0.66,1.87,94.81,0.700000
2,2000,3,15.350000,16.13000,25.000000,86.600000,18.08,15.08,16.58,17.78,...,2.29,0.17,2.12,178.38,2.04,3.21,0.22,3.00,178.50,0.700000
3,2000,4,7.720000,9.92000,25.060000,44.800000,18.84,17.00,17.92,18.77,...,3.70,0.77,2.92,161.62,3.16,5.21,1.44,3.78,161.12,0.700000
4,2000,5,11.030000,11.76000,25.120000,63.300000,20.69,18.66,19.67,20.99,...,3.45,0.80,2.64,150.00,2.80,5.08,0.99,4.09,150.38,0.700000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8920,2024,155,20.970000,21.33752,39.620000,74.028704,29.77,26.07,27.92,29.90,...,1.46,0.33,1.12,218.19,1.67,2.26,0.52,1.73,219.12,0.708686
8921,2024,156,14.420000,21.33752,39.630000,74.028704,29.42,26.80,28.12,29.52,...,1.41,0.30,1.12,83.00,1.44,2.32,0.59,1.73,83.06,0.708686
8922,2024,157,13.475334,21.33752,33.640511,74.028704,27.80,26.14,26.97,27.69,...,3.57,0.84,2.73,69.25,3.20,5.08,1.63,3.44,69.56,0.708686
8923,2024,158,13.475334,21.33752,33.640511,74.028704,25.65,23.94,24.80,25.83,...,3.10,0.53,2.57,115.31,2.77,4.43,1.02,3.41,115.25,0.708686
8924,2024,159,13.475334,21.33752,33.640511,74.028704,27.55,25.67,26.62,27.65,...,2.56,0.58,1.98,150.06,2.58,3.89,1.05,2.84,149.94,0.708686

In [25]:
# Đếm số lượng giá trị bị thiếu (-999.00)
missing_count_2 = (all_data_cleaned_2 == -999).sum()

# Tổng số giá trị
total_count_2 = all_data_cleaned_2.shape[0]

# Phần trăm giá trị bị thiếu
missing_percentage_2 = (missing_count_2 / total_count_2) * 100

# Tạo DataFrame kết quả
missing_info_2 = pd.DataFrame({'Số lượng bị thiếu': missing_count_2, 'Phần trăm bị thiếu (%)': missing_percentage_2})

# In kết quả
missing_info_2

                    Số lượng bị thiếu  Phần trăm bị thiếu (%)
YEAR                                0                     0.0
DOY                                 0                     0.0
ALLSKY_SFC_SW_DWN                   0                     0.0
CLRSKY_SFC_SW_DWN                   0                     0.0
TOA_SW_DWN                          0                     0.0
ALLSKY_SFC_PAR_TOT                  0                     0.0
T2M                                 0                     0.0
T2MDEW                              0                     0.0
T2MWET                              0                     0.0
TS                                  0                     0.0
T2M_RANGE                           0                     0.0
T2M_MAX                             0                     0.0
T2M_MIN                             0                     0.0
ALLSKY_SFC_LW_DWN                   0                     0.0
QV2M                                0                     0.0
RH2M                                0                     0.0
PRECTOTCORR                         0                     0.0
PS                                  0                     0.0
WS2M                                0                     0.0
WS2M_MAX                            0                     0.0
WS2M_MIN                            0                     0.0
WS2M_RANGE                          0                     0.0
WD2M                                0                     0.0
WS10M                               0                     0.0
WS10M_MAX                           0                     0.0
WS10M_MIN                           0                     0.0
WS10M_RANGE                         0                     0.0
WD10M                               0                     0.0
GWETTOP                             0                     0.0

In [26]:
all_data_cleaned_2

,YEAR,DOY,ALLSKY_SFC_SW_DWN,CLRSKY_SFC_SW_DWN,TOA_SW_DWN,ALLSKY_SFC_PAR_TOT,T2M,T2MDEW,T2MWET,TS,...,WS2M_MAX,WS2M_MIN,WS2M_RANGE,WD2M,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WD10M,GWETTOP
0,2000,1,10.020000,12.74000,24.900000,58.100000,18.44,16.31,17.37,18.37,...,1.35,0.58,0.77,103.75,1.54,2.78,0.81,1.97,103.88,0.700000
1,2000,2,11.610000,13.31000,24.940000,67.200000,18.40,15.85,17.12,18.09,...,1.92,0.41,1.52,94.69,1.92,2.53,0.66,1.87,94.81,0.700000
2,2000,3,15.350000,16.13000,25.000000,86.600000,18.08,15.08,16.58,17.78,...,2.29,0.17,2.12,178.38,2.04,3.21,0.22,3.00,178.50,0.700000
3,2000,4,7.720000,9.92000,25.060000,44.800000,18.84,17.00,17.92,18.77,...,3.70,0.77,2.92,161.62,3.16,5.21,1.44,3.78,161.12,0.700000
4,2000,5,11.030000,11.76000,25.120000,63.300000,20.69,18.66,19.67,20.99,...,3.45,0.80,2.64,150.00,2.80,5.08,0.99,4.09,150.38,0.700000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8920,2024,155,20.970000,21.33752,39.620000,74.028704,29.77,26.07,27.92,29.90,...,1.46,0.33,1.12,218.19,1.67,2.26,0.52,1.73,219.12,0.708686
8921,2024,156,14.420000,21.33752,39.630000,74.028704,29.42,26.80,28.12,29.52,...,1.41,0.30,1.12,83.00,1.44,2.32,0.59,1.73,83.06,0.708686
8922,2024,157,13.475334,21.33752,33.640511,74.028704,27.80,26.14,26.97,27.69,...,3.57,0.84,2.73,69.25,3.20,5.08,1.63,3.44,69.56,0.708686
8923,2024,158,13.475334,21.33752,33.640511,74.028704,25.65,23.94,24.80,25.83,...,3.10,0.53,2.57,115.31,2.77,4.43,1.02,3.41,115.25,0.708686
8924,2024,159,13.475334,21.33752,33.640511,74.028704,27.55,25.67,26.62,27.65,...,2.56,0.58,1.98,150.06,2.58,3.89,1.05,2.84,149.94,0.708686

In [27]:
# Chuyển cột DOY thành ngày và tháng
all_data_cleaned_2['DATE'] = pd.to_datetime(all_data_cleaned_2['YEAR'].astype(str) + all_data_cleaned_2['DOY'].astype(str), format='%Y%j')
all_data_cleaned_2['MONTH'] = all_data_cleaned_2['DATE'].dt.month
all_data_cleaned_2['DAY'] = all_data_cleaned_2['DATE'].dt.day

# In ra DataFrame sau khi xử lý
all_data_cleaned_2

,YEAR,DOY,ALLSKY_SFC_SW_DWN,CLRSKY_SFC_SW_DWN,TOA_SW_DWN,ALLSKY_SFC_PAR_TOT,T2M,T2MDEW,T2MWET,TS,...,WD2M,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WD10M,GWETTOP,DATE,MONTH,DAY
0,2000,1,10.020000,12.74000,24.900000,58.100000,18.44,16.31,17.37,18.37,...,103.75,1.54,2.78,0.81,1.97,103.88,0.700000,2000-01-01,1,1
1,2000,2,11.610000,13.31000,24.940000,67.200000,18.40,15.85,17.12,18.09,...,94.69,1.92,2.53,0.66,1.87,94.81,0.700000,2000-01-02,1,2
2,2000,3,15.350000,16.13000,25.000000,86.600000,18.08,15.08,16.58,17.78,...,178.38,2.04,3.21,0.22,3.00,178.50,0.700000,2000-01-03,1,3
3,2000,4,7.720000,9.92000,25.060000,44.800000,18.84,17.00,17.92,18.77,...,161.62,3.16,5.21,1.44,3.78,161.12,0.700000,2000-01-04,1,4
4,2000,5,11.030000,11.76000,25.120000,63.300000,20.69,18.66,19.67,20.99,...,150.00,2.80,5.08,0.99,4.09,150.38,0.700000,2000-01-05,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8920,2024,155,20.970000,21.33752,39.620000,74.028704,29.77,26.07,27.92,29.90,...,218.19,1.67,2.26,0.52,1.73,219.12,0.708686,2024-06-03,6,3
8921,2024,156,14.420000,21.33752,39.630000,74.028704,29.42,26.80,28.12,29.52,...,83.00,1.44,2.32,0.59,1.73,83.06,0.708686,2024-06-04,6,4
8922,2024,157,13.475334,21.33752,33.640511,74.028704,27.80,26.14,26.97,27.69,...,69.25,3.20,5.08,1.63,3.44,69.56,0.708686,2024-06-05,6,5
8923,2024,158,13.475334,21.33752,33.640511,74.028704,25.65,23.94,24.80,25.83,...,115.31,2.77,4.43,1.02,3.41,115.25,0.708686,2024-06-06,6,6
8924,2024,159,13.475334,21.33752,33.640511,74.028704,27.55,25.67,26.62,27.65,...,150.06,2.58,3.89,1.05,2.84,149.94,0.708686,2024-06-07,6,7

In [28]:
# Sao chép DataFrame hiện có
all_data_cleaned_3 = all_data_cleaned_2.copy()

# Chuyển cột DOY thành ngày và tháng
all_data_cleaned_3['DATE'] = pd.to_datetime(all_data_cleaned_3['YEAR'].astype(str) + all_data_cleaned_3['DOY'].astype(str), format='%Y%j')
all_data_cleaned_3['MONTH'] = all_data_cleaned_3['DATE'].dt.month
all_data_cleaned_3['DAY'] = all_data_cleaned_3['DATE'].dt.day

# Đặt các cột mới bên phải cột DOY
all_data_cleaned_3 = all_data_cleaned_3[['DATE','YEAR', 'MONTH', 'DAY'] + [col for col in all_data_cleaned_3.columns if col not in ['LAT', 'LON', 'YEAR', 'DOY', 'DATE', 'MONTH', 'DAY']]]

# In ra DataFrame sau khi xử lý
all_data_cleaned_3

,DATE,YEAR,MONTH,DAY,ALLSKY_SFC_SW_DWN,CLRSKY_SFC_SW_DWN,TOA_SW_DWN,ALLSKY_SFC_PAR_TOT,T2M,T2MDEW,...,WS2M_MAX,WS2M_MIN,WS2M_RANGE,WD2M,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WD10M,GWETTOP
0,2000-01-01,2000,1,1,10.020000,12.74000,24.900000,58.100000,18.44,16.31,...,1.35,0.58,0.77,103.75,1.54,2.78,0.81,1.97,103.88,0.700000
1,2000-01-02,2000,1,2,11.610000,13.31000,24.940000,67.200000,18.40,15.85,...,1.92,0.41,1.52,94.69,1.92,2.53,0.66,1.87,94.81,0.700000
2,2000-01-03,2000,1,3,15.350000,16.13000,25.000000,86.600000,18.08,15.08,...,2.29,0.17,2.12,178.38,2.04,3.21,0.22,3.00,178.50,0.700000
3,2000-01-04,2000,1,4,7.720000,9.92000,25.060000,44.800000,18.84,17.00,...,3.70,0.77,2.92,161.62,3.16,5.21,1.44,3.78,161.12,0.700000
4,2000-01-05,2000,1,5,11.030000,11.76000,25.120000,63.300000,20.69,18.66,...,3.45,0.80,2.64,150.00,2.80,5.08,0.99,4.09,150.38,0.700000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8920,2024-06-03,2024,6,3,20.970000,21.33752,39.620000,74.028704,29.77,26.07,...,1.46,0.33,1.12,218.19,1.67,2.26,0.52,1.73,219.12,0.708686
8921,2024-06-04,2024,6,4,14.420000,21.33752,39.630000,74.028704,29.42,26.80,...,1.41,0.30,1.12,83.00,1.44,2.32,0.59,1.73,83.06,0.708686
8922,2024-06-05,2024,6,5,13.475334,21.33752,33.640511,74.028704,27.80,26.14,...,3.57,0.84,2.73,69.25,3.20,5.08,1.63,3.44,69.56,0.708686
8923,2024-06-06,2024,6,6,13.475334,21.33752,33.640511,74.028704,25.65,23.94,...,3.10,0.53,2.57,115.31,2.77,4.43,1.02,3.41,115.25,0.708686
8924,2024-06-07,2024,6,7,13.475334,21.33752,33.640511,74.028704,27.55,25.67,...,2.56,0.58,1.98,150.06,2.58,3.89,1.05,2.84,149.94,0.708686

Loại bỏ các outlier

In [29]:
import numpy as np

# Lấy các cột số
numeric_cols = all_data_cleaned_3.select_dtypes(include=np.number).columns
df_numeric = all_data_cleaned_3[numeric_cols]

# Tính Z-score
z_scores = np.abs((df_numeric - df_numeric.mean()) / df_numeric.std())

# Tìm các giá trị ngoại lai
outliers = (z_scores > 4).any(axis=1)

# Loại bỏ các giá trị ngoại lai
all_data_cleaned_3 = all_data_cleaned_3[~outliers]

# Hiển thị 5 dòng đầu tiên của dataframe đã lọc
print("DataFrame sau khi loại bỏ ngoại lai:")
print(all_data_cleaned_3.head().to_markdown(index=False, numalign="left", stralign="left"))

# Hiển thị số lượng mẫu đã bị loại bỏ
num_outliers_removed = outliers.sum()
print(f"\nSố lượng mẫu đã bị loại bỏ: {num_outliers_removed}")

DataFrame sau khi loại bỏ ngoại lai:
| DATE                | YEAR   | MONTH   | DAY   | ALLSKY_SFC_SW_DWN   | CLRSKY_SFC_SW_DWN   | TOA_SW_DWN   | ALLSKY_SFC_PAR_TOT   | T2M   | T2MDEW   | T2MWET   | TS    | T2M_RANGE   | T2M_MAX   | T2M_MIN   | ALLSKY_SFC_LW_DWN   | QV2M   | RH2M   | PRECTOTCORR   | PS     | WS2M   | WS2M_MAX   | WS2M_MIN   | WS2M_RANGE   | WD2M   | WS10M   | WS10M_MAX   | WS10M_MIN   | WS10M_RANGE   | WD10M   | GWETTOP   |
|:--------------------|:-------|:--------|:------|:--------------------|:--------------------|:-------------|:---------------------|:------|:---------|:---------|:------|:------------|:----------|:----------|:--------------------|:-------|:-------|:--------------|:-------|:-------|:-----------|:-----------|:-------------|:-------|:--------|:------------|:------------|:--------------|:--------|:----------|
| 2000-01-01 00:00:00 | 2000   | 1       | 1     | 10.02               | 12.74               | 24.9         | 58.1                 | 18.44 | 16.31    | 17.37    | 18.37 | 10.57       | 24.75     | 14.18     | 345.6               | 11.54  | 87.5   | 0             | 100.55 | 0.91   | 1.35       | 0.58       | 0.77         | 103.75 | 1.54    | 2.78        | 0.81        | 1.97          | 103.88  | 0.7       |
| 2000-01-02 00:00:00 | 2000   | 1       | 2     | 11.61               | 13.31               | 24.94        | 67.2                 | 18.4  | 15.85    | 17.12    | 18.09 | 10.51       | 24.09     | 13.58     | 347.7               | 11.23  | 85.25  | 0.01          | 100.68 | 1.19   | 1.92       | 0.41       | 1.52         | 94.69  | 1.92    | 2.53        | 0.66        | 1.87          | 94.81   | 0.7       |
| 2000-01-03 00:00:00 | 2000   | 1       | 3     | 15.35               | 16.13               | 25           | 86.6                 | 18.08 | 15.08    | 16.58    | 17.78 | 11.08       | 24.57     | 13.48     | 335.5               | 10.68  | 84.12  | 0.01          | 100.39 | 1.28   | 2.29       | 0.17       | 2.12         | 178.38 | 2.04    | 3.21        | 0.22        | 3             | 178.5   | 0.7       |
| 2000-01-04 00:00:00 | 2000   | 1       | 4     | 7.72                | 9.92                | 25.06        | 44.8                 | 18.84 | 17       | 17.92    | 18.77 | 12.02       | 25.73     | 13.7      | 356.9               | 12.15  | 88.25  | 0             | 100.2  | 2.1    | 3.7        | 0.77       | 2.92         | 161.62 | 3.16    | 5.21        | 1.44        | 3.78          | 161.12  | 0.7       |
| 2000-01-05 00:00:00 | 2000   | 1       | 5     | 11.03               | 11.76               | 25.12        | 63.3                 | 20.69 | 18.66    | 19.67    | 20.99 | 12.24       | 27.71     | 15.47     | 359                 | 13.49  | 87.5   | 0             | 100.07 | 1.78   | 3.45       | 0.8        | 2.64         | 150    | 2.8     | 5.08        | 0.99        | 4.09          | 150.38  | 0.7       |

Số lượng mẫu đã bị loại bỏ: 744

In [30]:
all_data_cleaned_3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 34956 entries, 0 to 8924
Data columns (total 31 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   DATE                34956 non-null  datetime64[ns]
 1   YEAR                34956 non-null  int64
 2   MONTH               34956 non-null  int32
 3   DAY                 34956 non-null  int32
 4   ALLSKY_SFC_SW_DWN   34956 non-null  float64
 5   CLRSKY_SFC_SW_DWN   34956 non-null  float64
 6   TOA_SW_DWN          34956 non-null  float64
 7   ALLSKY_SFC_PAR_TOT  34956 non-null  float64
 8   T2M                 34956 non-null  float64
 9   T2MDEW              34956 non-null  float64
 10  T2MWET              34956 non-null  float64
 11  TS                  34956 non-null  float64
 12  T2M_RANGE           34956 non-null  float64
 13  T2M_MAX             34956 non-null  float64
 14  T2M_MIN             34956 non-null  float64
 15  ALLSKY_SFC_LW_DWN   34956 non-null  float64
 16  QV2M                34956 non-null  float64
 17  RH2M                34956 non-null  float64
 18  PRECTOTCORR         34956 non-null  float64
 19  PS                  34956 non-null  float64
 20  WS2M                34956 non-null  float64
 21  WS2M_MAX            34956 non-null  float64
 22  WS2M_MIN            34956 non-null  float64
 23  WS2M_RANGE          34956 non-null  float64
 24  WD2M                34956 non-null  float64
 25  WS10M               34956 non-null  float64
 26  WS10M_MAX           34956 non-null  float64
 27  WS10M_MIN           34956 non-null  float64
 28  WS10M_RANGE         34956 non-null  float64
 29  WD10M               34956 non-null  float64
 30  GWETTOP             34956 non-null  float64
dtypes: datetime64[ns](1), float64(27), int32(2), int64(1)
memory usage: 8.3 MB

In [31]:
#In dữ liệu ra file csv
all_data_cleaned_3.to_csv(r'all_data_cleaned_3.csv', index=False)